{% extends "base/base.html" %}
{% block pageTitle %}Adnim register | FinApp{% endblock pageTitle %}

{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <p class="display-6 text-center">Register</p>
        <div class="col-12 col-md-4 mt-md-2 mb-md-5 px-md-2 py-md-3">
            {% include "bank/menu.html" %}
        </div>
        <div class="col-12 col-md-8 mt-2 mb-5 px-2 py-3 ">
            <h1 class="h5 mb-1">Enter Client Details</h1>
            <form action="" method="post" class="p-3 border border-info rounded-3"enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="row text-white">
                    <div>
                        {{ form.image.label_tag }}
                        {{ form.image.errors }}
                        {{ form.image }}
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            {{ form.username.label_tag }}
                            {{ form.username.errors }}
                            {{ form.username }}
                            {{ form.first_name.label_tag }}
                            {{ form.first_name.errors }}
                            {{ form.first_name }}
                            {{ form.middle_name.label_tag }}
                            {{ form.middle_name.errors }}
                            {{ form.middle_name }}
                            {{ form.last_name.label_tag }}
                            {{ form.last_name.errors }}
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email.errors }}
                            {{ form.email }}
                            {{ form.birth_date.label_tag }}
                            {{ form.birth_date.errors }}
                            {{ form.birth_date }}
                            {{ form.accType.label_tag }}
                            {{ form.accType.errors }}
                            {{ form.accType }}
                            {% if not edit %}
                                {{ form.password.label_tag }}
                                {{ form.password.errors }}
                                {{ form.password }}
                                {{ form.password2.label_tag }}
                                {{ form.password2.errors }}
                                {{ form.password2 }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row m-4">
                    {% if edit %}
                    <button class="btn btn-info">Update</button>
                    {% else %}
                    <button class="btn btn-info">Register</button>
                    {% endif %}
                    
                </div>
                
            </form>
        </div>
    </div>
</main>
{% endblock content %}


