{% extends "base/base.html" %}
{% load static %}

{% block pageTitle %}Home{% endblock pageTitle %}

{% block content %}
<main class="container">
    <h3 class="text-white text-center my-4 my-sm-5">The Relationship Bank</h3>   
</main>

<main class="bg-white text-center container">
    <h4 class="heading_color pt-5 pb-3">Who we are?</h4>
    <p class=" px-sm-5">We’re an award-winning independent UK bank offering business, commercial, retail and private banking services.  Since launching in 2010, we've been committed to doing things di­fferently, revisiting a time when banking was a lot more human. We believe a bank should be more than just a place to store your money; it should be your financial partner for everything life brings.</p>
    <br>
    <p class="px-sm-5 pb-1 pb-sm-5">Whether you’re growing your business or managing your personal finances, Metro Bank provides the support and tools you need to succeed. We pride ourselves on giving customers the choice to bank however, whenever and wherever they choose and build relationships with the customers and communities we serve. That could be through our network of stores (and growing), on the phone through our UK-based contact centres, online through our internet banking or mobile app, we offer all customers real choice. We are the relationships banking specialists.</p>

    <h4 class="heading_color pb-3 pt-2 pt-sm-5">Our Principles</h4>
    <div>
        <div class="row">
            <div class="col-12 col-sm-6 px-sm-5">
                <h5 class="heading_color">People</h5>
                <p>We believe the best banking experiences come from genuine people who truly care, all delivered with empathy, compassion and understanding.</p>
            </div>
            <div class="col-12 col-sm-6 px-sm-5">
                <h5 class="heading_color">Relationship</h5>
                <p>We believe in creating authentic and longstanding relationships with all our customers, so that we can be there through it all — challenges, celebrations, ups and downs. We’re here when you need us, every step of the way.</p>
            </div>
            <div class="col-12 col-sm-6 px-sm-5">
                <h5 class="heading_color">Simplicity</h5>
                <p class="heading_color">We’re here to make our customers’ lives easier, taking the stress out of banking by providing exceptional products and service, all delivered in a clear concise manner — every time
                </p>
            </div>
            <div class="col-12 col-sm-6 px-sm-5">
                <h5 class="heading_color">Locality</h5>
                <p class="heading_color">Our growing network of stores across England and Wales engages local customers with their day-to-day banking needs — business or retail — whilst contributing to regional economic initiatives. Our colleagues combine friendly and engaging face-to-face communication with local know-how.</p>
            </div>
        </div>
    </div>
</main>

<main class="container text-center  text-danger">
    <div>
        <h4 class="text-white pt-4">Our New Look</h4>
        <p class="text">You’ll have noticed some changes in our stores, online and in print. Our new look, changing over time, is all about relationship banking and building human connections. New photography, icons and colour schemes reflect the human face of banking — personal, engaging and trustworthy — qualities we know our customers love. Oh, and quite a few smiles too.</p>
        <hr>
        <hr>
        <h4 class="text-center text-white">How to recognise a legitimate message from us</h4>
        <p>With the changes to our new look, you might be concerned that some of the communications you receive from us are not genuine. There are things to look out for to make sure a message is a genuine communication from us.</p>
    </div>   
</main>

{% endblock content %}





