{% extends "base/base.html" %}

{% block pageTitle %}FinApp | Account Type {% endblock pageTitle %}

{% block content %}
    <main class="container mb-5">
        <h1 class="text-center display-6 pt-4">Account Type</h1>
        <div class="row">
            <div class="col-12 col-md-4">
                {% include "bank/menu.html" %}
            </div>
            <div class="col-12 col-md-8">
                <div class="row justify-content-between">
                    <table class="table table-striped table-info table-hover mt-4">
                        <thead>
                            <tr class="">
                                <th scope="col" class="bg-dark text-white">#</th>
                                <th scope="col" class="bg-dark text-white">Account Name</th>
                                <th scope="col" class="bg-dark text-white">short Name</th>
                                <th scope="col" class="bg-dark text-white">Code</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for accountType in accountTypes  %}
                            <tr>
                                <th scope="col">{{ forloop.counter }} </th>
                                <td scope="col">{{ accountType.accTypeName }} </td>
                                <td scope="col">{{ accountType.accTypeName }}</td>
                                <td scope="col">{{ accountType.accTypeName }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

