{% extends "base/base.html" %}

{% block pageTitle %}FinApp | Dashboard {% endblock pageTitle %}

{% block content %}
    <main class="container mb-5">
        <h1 class="text-center display-6 pt-4">Dashboard</h1>
        <div class="row">
            <div class="col-12 col-md-4">
                {% include "bank/menu.html" %}
            </div>
            <div class="col-12 col-md-8 px-4 px-md-2">
                <div class="row justify-content-between">
                    <div class="card col-4 col-md-3  my-1 my-md-4 border-info ">
                        <div class="card-title h6 text-secondary pt-2">Number of Clients:</div>
                        <p class="text-success">{{ clients.count }} </p>
                    </div>
                    <div class="card col-4 col-md-3  my-1 my-md-4 border-info">
                        <div class="card-title h6 text-secondary pt-2">Daily deposit:</div>
                        <p class="text-success">GHC 4500.00</p>
                    </div>
                    <div class="card col-4 col-md-3  my-1 my-md-4 border-info">
                        <div class="card-title h6 text-secondary pt-2">Daily withdrawal:</div>
                        <p class="text-success">GHC 2000.00</p>
                    </div>
                </div>
                <hr class="text-primary">
                <div class="row justify-content-between">
                    <h5 class="h5 text-center text-secondary my-3">Clients</h5>
                    <table class="table table-striped table-info table-hover">
                        <thead>
                            <tr class="">
                                <th scope="col" class="bg-dark text-white">#</th>
                                <th scope="col" class="bg-dark text-white">First Name</th>
                                <th scope="col" class="bg-dark text-white">Middle Name</th>
                                <th scope="col" class="bg-dark text-white">Last Name</th>
                                <th scope="col" class="bg-dark text-white">Account Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients  %}
                            <tr>
                                <th scope="col">{{ forloop.counter }} </th>
                                <td scope="col">{{ client.first_name }} </td>
                                <td scope="col">{{ client.middle_name }}</td>
                                <td scope="col">{{ client.last_name }}</td>
                                <td scope="col">{{ client.username }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

